
<% unless current_page?(group_investments_path(group.id))%>
  <%= link_to group_investments_path(group.id) do %>
    <div class="card">
      
      <div class= "flex-horizontal">
        <%= group.icon %>
        <div class="flex-vertical">
          <%= group.name %>
          <%= group.created_at.strftime("%d %B %Y") %>
        </div>
      </div>
      
      <div class="inv-field">
        <%= group.investment.sum(:amount) %>
      </div>

    </div>
  <%end%>
<%else%>
    <div class="card">
      
      <div class= "flex-horizontal">
        <%= group.icon %>
        <div class="flex-vertical">
          <%= group.name %>
        </div>
        <p>Lorem Ipsum</p>
      </div>

    </div>
<%end%>